---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>

<style is:global>
	:root {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 300;
	}
</style>
<script>
	import Lenis from "lenis";
	// Initialize Lenis
	const lenis = new Lenis();

	// Use requestAnimationFrame to continuously update the scroll
	function raf(time: number) {
		lenis.raf(time);
		requestAnimationFrame(raf);
	}

	requestAnimationFrame(raf);
</script>
